<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <testsuite name="RequestParser Testsuite">
        <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
